@font-face
{
  font-family: Panama;
  src: url("assets/Panama-Light.otf") format("opentype");
}

@font-face
{
  font-family: PS;
  src: url("assets/productsans.ttf") format("truetype");
}

@font-face
{
  font-family: PSB;
  src: url("assets/productsans_bold.ttf") format("truetype");
}

body
{
  width:320px;
  height:440px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #f3f3f3;
  font-family: "PS", "Ubuntu", Helvetica, Arial, sans-serif;
}

header
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: auto;
  border-bottom: solid #939393 2px;
}

label
{
  font-size: 1rem;
}

main
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .label
{
  margin-top: -11px;
  margin-bottom: 8px;
}

header h1
{
  font-family: "Panama", "Ubuntu", Arial, Helvetica,sans-serif;
}

.option
{
  margin: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

label.radio
{
  margin: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration:  0.2s;
  position: relative;
  cursor: pointer;
}

label.radio input
{
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}

label.radio span
{
  font-size: 0.9rem;
  text-align: center;
  padding: 8px 20px;
  border-radius: 8px;
  display: inline-block;
  border: solid #bac2db 2.5px;
  transition-duration: 0.3s;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

label.radio input:checked + span
{
  border: solid #5571cc 2.5px;
}

#list
{
  overflow-x:hidden;
  overflow-y:auto;
  height: 140px;
  border: solid #bac2db 2px;
}

.email::-webkit-scrollbar
{
  display: none;
}

.email
{
  border-bottom: solid #bac2db 2px;
  padding: 4px 6px;
  font-size: 1.02rem;
  width: 80vw;
  height: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: pointer;
  transition-duration: 0.2s;
}

.email-input
{
  padding: 4px 6px;
  font-size: 1.02rem;
  width: 80vw;
  height: 20px;
  outline: none;
}

.email:hover
{
  transform: translate(-3px, -4px);
  box-shadow: #00000033 3px 3px 4px;
  background-color: #ee4040;
  color:white;
}

#new-email
{
  margin-top: 18px;
  padding: 6px 12px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: #5571cc;
  color: white;
  cursor: pointer;
  transition-duration: 0.3s;
}

#new-email:hover
{
  background-color: #3852a5;
}

#new-email:active
{
  background-color: #0c1e58;
}
#email_box
{
  height: 140px;
  width: 320px;
  border: solid #bac2db 2px;
}
